aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
astroid
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
deprecation
dill
filelock
Flask
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
gotrue
grpcio
grpcio-status
h11
h2
hpack
httpcore
httplib2
httpx
huggingface-hub
hyperframe
idna
isort
itsdangerous
Jinja2
joblib
MarkupSafe
mccabe
mpmath
multidict
networkx
nltk
numpy
packaging
pandas
pdfminer.six
pdfplumber
pillow
pinecone
pinecone-plugin-interface
platformdirs
postgrest
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pylint
PyMuPDF
pyparsing
pypdfium2
pytesseract
python-dateutil
python-dotenv
pytz
PyYAML
realtime
regex
requests
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
sniffio
storage3
StrEnum
supabase
supafunc
sympy
threadpoolctl
tokenizers
tomlkit
torch
tqdm
transformers
typing_extensions
tzdata
uritemplate
urllib3
websockets
Werkzeug
yarl
